{% extends "base.html" %}

{% block content %}

<section id="content">
	

</section>

<section id="content2">
	<p class= "description" >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quis massa tortor, vel aliquet quam. Duis gravida pellentesque libero in mattis. Duis lobortis lorem non lorem faucibus dictum. In diam nibh, tristique in bibendum ac, vulputate in augue. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse nulla massa, eleifend vel consequat convallis, imperdiet vitae felis. Fusce ut lectus vitae turpis vehicula rhoncus ac in tellus.
	</p>
</section>

{% endblock %}