{% extends "base.html" %}

{% block content %}
<section id="content">
	<form id="filterbtn">
	
	<input class="textarea" name="inputtext" value="filter" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;" />
	</form>
	<div id="gallery" >
		 <ul>
		 
		{% for i in indexes %}
			{% for i in indexes %}
				<li> <img src="{{STATIC_URL}}pictures/imagen{{ i }}_small.jpg" class="mini" width="100" height="100"  /> <a href="{{STATIC_URL}}pictures/imagen{{ i }}.jpg" class="pic" 
			onclick="return hs.expand(this, config1 )">
		<img src="{{STATIC_URL}}pictures/imagen{{ i }}.jpg"  alt=""/>
	</a><span class="highslide-heading"><img src="{{STATIC_URL}}img/facebookBtn.png" alt="Facebook" height="42" width="42" class="FBLogo"/><img src="{{STATIC_URL}}img/twittweBtn.png" alt="Smiley face" height="42" width="42" class="TWLogo"/> Yet to do: <br>- user given text<br>- date added <br>- facebook and twitter<br>- bigger pictures</span> </li>
        	{% endfor %}
		{% endfor %}
    
    </ul>	
	<div style="clear:both"></div></div>

</section>

<section id="content2">
	<p class= "description" >
	The project involves wooden human figures in the shape of begging 
	Roma with a hole for the participant to put their face through, as 
	they are often found at theme parks and popular holiday destinations.
	Roma have become part of the public space in popular European destinations
	but are often seen as an inevitable annoyance of the tourist experience.
	</p>
</section>
{% endblock %}
