{% extends "base.html" %}

{% block sec_navigation %}
<nav id="makeNavigation">
	<ul id="navigationMake"> 
		<li class="menuMake"><a  href="htmltest.html">step 1</a></li>
		<li class="menuMake" id="activeMake"><a  href="#">step 2</a></li> 
		<li class="menuMake"><a  href="comment.html">step 3</a></li>
	</ul>
</nav> 
{% endblock %}

{% block content %}
<section id="content">
	<div class="step" id="step1" >
		<div class="title">
			Upload your images & Align Them
		</div>
		<figure id="step1Image">
			<img src="romas.png" />
		<figure>
	</div>
</section>
{% endblock %}