{% extends "base.html" %}

{% block sec_navigation %}
<nav id="makeNavigation">
	<ul id="navigationMake"> 
		<li class="menuMake" ><a  href="/make/">step 1</a></li>
		<li class="menuMake" ><a  href="/step2/">step 2</a></li> 
		<li class="menuMake"><a  href="/step3/">step 3</a></li>
		<li class="menuMake" id="activeMake"><a  href="/publish/">publish</a></li>
	</ul>
</nav> 
{% endblock %}
{% block content %}
<section id="content">
	<div class="step" id="publish" >
			<div class="title">
				Publish
			</div>	
			<figure id="publishImage">
					<img src="{{STATIC_URL}}img/ImageText.jpg" />
			</figure>
		
			<form> 
				<input id="yourName" class="textarea" name="inputtext" value="Add your Name here" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
				<input id="yourTags" class="textarea" name="inputtext" value="Add your tags here, max 3!" onfocus="if(this.value==this.defaultValue)this.value='';" onblur="if(this.value=='')this.value=this.defaultValue;">
			</form>
		<div id="Done">
			DONE!
		</div>
		<div class="clear"> </div>
		
		<ul id="shareBtns">
			<li class="share"> <img src="{{STATIC_URL}}img/downloadBtn.png"/></li>
			<li class="share"> <img src="{{STATIC_URL}}img/facebookBtn.png"/></li>
			<li class="share"> <img src="{{STATIC_URL}}img/twittweBtn.png"/></li>
		</ul>
		</div>
</section>
{% endblock %}