{% extends "base.html" %}

{% block sec_navigation %}	

{% block content %}
<section id="content">
	<div class="step" id="step2" >
		<div class="title">
			Choose a Background
		</div>
		
		<ul id="slideshow">
				<li class="imageBackgound"> <img src="{{STATIC_URL}}img/uploadBtn.png"/></li>
				<li class="imageBackgound"> <img src="{{STATIC_URL}}img/uploadBtn.png"/></li>
				<li class="imageBackgound"> <img src="{{STATIC_URL}}img/uploadBtn.png"/></li>
		</ul>
		
	</div>
</section>
{% endblock %}