{% extends "base.html" %}

{% block sec_navigation %}
<nav id="makeNavigation">
	<ul id="navigationMake"> 
		<li class="menuMake" ><a  href="/make/">step 1</a></li>
		<li class="menuMake" id="activeMake"><a  href="/step2/">step 2</a></li> 
		<li class="menuMake"><a  href="/step3/">step 3</a></li>
		<li class="menuMake"><a  href="/publish/">publish</a></li>
	</ul>
</nav> 
{% endblock %}
{% block content %}
<section id="content">
	<div class="step" id="step2" >
		<div class="title">
			Choose a Background
		</div>
		<div id="slideshow">
		
			<div class="clear"></div>
		
			<div id="arrowLeft"><img src="{{STATIC_URL}}img/arrowLeft.png"/> </div>
			
			<ul id="imgs">
					<li class="slides"><img src="{{STATIC_URL}}img/slideshowImage1.jpg"/></li>
					<li class="slides"><img src="{{STATIC_URL}}img/slideshowImage1.jpg"/></li>
					<li class="slides"><img src="{{STATIC_URL}}img/slideshowImage1.jpg"/></li>
			</ul>
			
			
			<div id="arrowRight"><img src="{{STATIC_URL}}img/arrowRight.png"/> </div>
		
			<div class="clear" />
			
		</div>
		
		<div id="backgroundText">
			<div id="TextTitle">London Bridge: London</div>
			<br>
			The figures will have a protective layer to last for several days to weeks. 
			They are weather and UV resistant. Within the hole there will be earphones 
			installed to provide an audio experience that will be recorded around that public 
			space in the city as well as voice commentaries from Roma immigrants. The installation
			will be constantly filmed and shown online as well as on a screen within the urban 
			environment, if applicable.
		</div>
	</div>
</section>
{% endblock %}